language: python

python:
  - "3.7"

# command to install dependencies
install:
  - pip install --upgrade pip
  - pip install --upgrade pytest
  - pip install flit
  - flit install --pth-file

# command to run tests
script:
  - tox
